[user]
	email = georgewphorrell@gmail.com
	name = George Horrell
[alias]
	# *********************
	# Rebase workflow
	# *********************

	# print the name of the mainbranch
	mainbranch = "!git remote show origin | sed -n '/HEAD branch/s/.*: //p'"

	# rebase onto mainbranch
	mbase = "!git pull origin $(git mainbranch) --rebase"

	# rebase onto remote changes on current branch
	update = "!git pull origin $(git rev-parse --abbrev-ref HEAD) --rebase"

	# start interactive rebase with base at mainbranch
	ibase = "!git rebase -v -i $(git mainbranch)"

	# push local changes to remote branch IF last commit was mine
	publish = push origin HEAD --force-with-lease
	pub = publish 

	diffp = "!git --no-pager diff"
[core]
        autocrlf = input
        editor = vim
        pager = diff-so-fancy | less --tabs=1,5 -R
	preloadIndex = true
[push]
        default = simple
	autoSetupRemote = true
[pull]
        rebase = true
[diff]
	algorithm = patience
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[difftool]
	prompt = false
[merge]
	tool = Kaleidoscope
[mergetool]
	prompt = false
[include]
	path = ~/.custom.gitconfig

[submodule]
	recurse = true
